@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700;900&family=Open+Sans&display=swap');

html{
  scroll-snap-type: y mandatory;
}

body{
    font-family: 'Lato', 'Open Sans', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}

.content-container{
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  flex-wrap: wrap;
  padding: 1.4rem;
  box-sizing: border-box;
}

.content-container:first-of-type{
  justify-content: center;
}

.content-container:nth-of-type(odd){
  background-image: linear-gradient(to right, #DBF685 , #DBF685);
}

.content-container:nth-of-type(even){
  background-image: linear-gradient(to right, #E84B9E , #E84CA6);
}

h1{
  text-align: center;
  font-size: 8rem;
  width: 100%;
  padding: 10% 20%;
  align-self: center;
}



.content-container:nth-of-type(odd) h1{
  color: #E84B9E;
}

.content-container:nth-of-type(even) h1{
  color: #DBF685;
}

h2{
  text-align: center;
  font-size: 5rem;
  width: 100%;
  padding: 10% 20%;
}

.content-container_text{
  width: 100%;
}

.content-container:first-of-type p{
  text-align: center;
}

button{
  width: 300px;
  border-radius: 50px;
  height: 70px;
  background-color: #E84CA6;
  stroke: #E84CA6;
  text-transform: uppercase;
  color: #DBF685;
}

.canvas-container{
  width: inherit;
}

 #month{
  font-size: 25rem;
  letter-spacing: -22px;
  transform:rotateX(-280deg);
  /* rotationX: -280 */
}